* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.logo img {
  height: ;
  width: 50px;
  margin-right: 0px;
}

.wrapper {
  width: 90%;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 50px;
  font-weight: 800;
  float: left;
  font-family: courier;
  color: #364f6b;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: linear-gradient(to top right, #00ccff 0%, #ff99ff 100%);
  z-index: 100;
  border-bottom: 1px solid #364f6b;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: "comic sans ms";
  color: #364f6b;
}

h2 {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}

a.tbl-biru {
  background: #3f72af;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-biru:hover {
  background: #fc5185;
  text-decoration: none;
}

a.tbl-pink {
  background: #fc5185;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-pink:hover {
  background: #3f72af;
  text-decoration: none;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.tengah {
  text-align: center;
  width: 100%;
}

.tutor-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.kartu-tutor {
  width: 20%;
  margin: 0 auto;
}

.kartu-tutor img {
  width: 80%;
  border-radius: 50%;
}

.kartu-tutor p {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  color: #364f6b;
}

.partner-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.kartu-partner {
  width: 20%;
  margin: 0 auto;
}

.kartu-partner img {
  width: 150px;
  border-radius: 50%;
}

#contact {
  background: linear-gradient(to bottom left, #33ccff 0%, #ff99cc 100%);
  padding: 50px 0px 50px 0px;
}

.footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.footer-section {
  width: 20%;
  margin: 0 auto;
}

h3 {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}

#copyright {
  text-align: center;
  width: 100%;
  padding: 50px 0px 50px 0px;
  margin-top: 50px;
  background: linear-gradient(to bottom right, #ff99ff 0%, #ffcccc 100%);
}

@media screen and (max-width: 991.98px) {
  .wrapper {
    width: 90%;
  }

  .logo a {
    display: block;
    width: 100%;
    text-align: center;
  }

  .kartu-tutor {
    width: 50%;
  }

  .kartu-partner {
    width: 50%;
  }
}

.footer-section h3 {
  font-size: 20px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: transparent;
  transition: all 0.5s ease;
}

.social-links a img {
  display: inline-block;
  height: 40px;
  width: 40px;
}
.footer-section h3:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

ul {
  list-style: none;
}

.footer-section ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-section ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-section {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-section {
    width: 100%;
  }
}



/*hyper link*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*body{
  height: 100vh;
  background: #f2f2f2;
  overflow: hidden;
}*/
.container{
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.container .box{
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 15px 25px 15px 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: show_box 0.8s ease forwards;
}
@keyframes show_box {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-5%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
#hide:checked ~ .box{
  animation: hide_box 0.8s ease forwards;
}
@keyframes hide_box {
  0%{
    transform: translateX(0%);
  }
  40%{
    transform: translateX(5%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(calc(100% + 35px ));
  }
}
.container .box i{
  position: absolute;
  right: 15px;
  top: 10px;
  color: #666;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container i:hover{
  color: #000;
}
.container .logo2{
  height: 90px;
  width: 90px;
  margin-right: 15px;
}
.container .logo2 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.box .right{
  display: flex;
  flex-direction: column;
}
.box .right .text-1{
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.box .right .text-2{
  font-size: 14px;
  color: #666;
  margin: 2px 0 8px 0;
}
.box .right a{
  font-size: 18px;
  font-weight: 500;
  display: block;
  padding: 8px 0;
  background: #24d8fc;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.box .right a:hover{
  background-color: #03bde2;
}
.container #hide{
  display: none;
} 
