* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.logo img {
  height: 30px;
  width: auto;
  margin-right: 20px;
}
.wrapper {
  width: 90%;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 50px;
  font-weight: 800;
  float: left;
  font-family: courier;
  color: #364f6b;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: linear-gradient(to top right, #00ccff 0%, #ff99ff 100%);s
  z-index: 1;
  border-bottom: 1px solid #364f6b;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;


}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

section {
  margin: auto;
  margin-bottom: 50px;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: "comic sans ms";
  color: #364f6b;

}

h2 {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
  
}
a.tbl-biru {
  background: #3f72af;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}
a.tbl-biru:hover {
  background: #fc5185;
  text-decoration: none;
}
#Belajar-Programming-dirumah-aja img {
  width: 100%;

}

#Online-Courses img {
  width: 100%;
}
#Belajar-Programming-dirumah-aja .colom .deskripsi p {
  margin-top: 100px;
}



#contact {
  background: linear-gradient(to bottom left, #33ccff 0%, #ff99cc 100%);
  padding: 50px 0px 50px 0px;
}

.footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.footer-section {
  width: 20%;
  margin: 0 auto;
}

h3 {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}

#copyright {
  text-align: center;
  width: 100%;
  padding: 50px 0px 50px 0px;
  margin-top: 50px;
  background: linear-gradient(to bottom right, #ff99ff 0%, #ffcccc 100%);
}

@media screen and (max-width: 991.98px) {
  .wrapper {
    width: 90%;
  }

  .logo a {
    display: block;
    width: 100%;
    text-align: center;
  }

  
  .kartu-tutor {
    width: 50%;
  }

  .kartu-partner {
    width: 50%;
  }
}

.footer-section h3{
  font-size: 20px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}


.social-links a img{
  display: inline-block;
  height: 40px;
  width: 40px;
}
.footer-section h3:before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

ul{
  list-style: none;
}

.footer-section ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-section ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}


/*responsive*/
@media(max-width: 767px){
  .footer-section{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-section{
    width: 100%;
}
}