* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-image: linear-gradient(135deg, #2afadf 10%, #c346c2 100%);
  z-index: 3;
  border-bottom: 1px solid #364f6b;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}
body img {
  width: 100%;
}
section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

a header {
  height: 100vh;
  width: 100%;
  background: url("images/background.png") no-repeat;
  background-position: center;
}
::selection {
  background: #a3f5ec;
}
header nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 12;
}

header nav .logo {
  height: 80px;
  width: 150px;
}

.text-content {
  position: absolute;
  top: 33%;
  left: 7%;
  z-index: 12;
}
header .text-content .text {
  font-size: 27px;
  color: #fefeff;
}
header .text-content .name {
  color: #ffffff;
  border-color: #2c3350;
  font-size: 75px;
  font-weight: 600;
  margin: -20px 0 0 -3px;
}
header .text-content .job {
  color: #ffffff;
  font-size: 40px;
  margin: 5px 0;
  margin-top: -4px;
  display: flex;
}
.text-content .typing-text {
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #1de2d1;
  animation: typing 5s steps(15) infinite;
}
@keyframes typing {
  0% {
    width: 0ch;
  }
  50% {
    width: 15ch;
  }
  100% {
    width: 0ch;
  }
}
.text-content .job .one {
  color: #1de2d1;
}
.text-content .job .two {
  color: #1de2d1;
}
.buttons {
  margin: 20px 0 0 50px;
}
.text-content .buttons button {
  outline: none;
  margin: 0 10px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient(135deg, #2afadf 10%, #c346c2 100%);
}
.buttons button:hover {
  transform: scale(0.97);
}

header .media-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.media-icons a {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  opacity: 0.7;
  color: white;
  transition: all 0.3s ease;
}
.media-icons a:hover {
  opacity: 1;
}

#copyright {
  text-align: center;
  width: 100%;
  padding: 50px 0px 50px 0px;
  background-image: linear-gradient(135deg, #2afadf 10%, #c346c2 100%);
}
@media screen and (max-width: 991.98px) {
  .wrapper {
    width: 90%;
  }